$color-white: #ffffff;

$color-gray: #e3e3e3;
$color-gray-1: #f5f5f5;
$color-gray-2: #c0c0c0;

$color-black: #282728;
$color-black-light: #3b3a3c;
$color-black-transparent: #00000052;

$color-red: #AB0000FF;
